body{
	background-color: black;
}
img{
	width: 600;

}
.table{
	display: table;
	margin: 0 auto;

}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li{
	float: left;

}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-family: sans-serif, serif;	
}

li a:hover {
	background-color: white;
	color: black;
}

