body{
	background-color: black;
}
#logo{
	width: 600;
	height: 200;

}
.table{
	display: table;
	margin: 0 auto;	

}

ul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

li{
	float: left;

}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 20px 20px;
	text-decoration: none;
	font-family: sans-serif, serif;	
	border-bottom: 2px solid white; 
}

li a:hover {
	background-color: white;
	color: black;
	
}
#gallery{
	float: left;
	margin: 30px;
	margin-top: 50px;
	border: 2px solid white;
}

div.description{
	text-align: center;
	padding: 15px;
	color: white;
	border-top: 2px solid white;

}
#title{
	color: white;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	margin-left: 20px;
	font-weight: normal;
	font-size: 20px
}